<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
    <title>{% if header.title %} {{ header.title|e('html') }} | {%endif %} {{ site.title|e('html') }} </title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% do assets.addCss('theme://css/custom.css') %}
    {% do assets.addCss('https://fonts.googleapis.com/css?family=Work+Sans:300,400,600,800') %}

    {{ assets.css() }}
</head>
<body>

{% block header %}
    <div class="header">
        <div class="top-nav-bar">

            <div class="nav-left">
                <a href="{{ base_url == '' ? '/' : base_url }}">

                    <div class="button">
                        HOME
                    </div>
                </a>
            </div>

            {% if page.header.main_title is defined %}
                <div class="nav-center">
                    <h1>{{ page.header.main_title }}</h1>
                </div>
            {% endif %}

            <div class="nav-right">
                <a href="an-introduction-to-me">
                    <div class="button">
                        ABOUT
                    </div>
                </a>
            </div>
        </div>
        {% if page.header.main_title is defined %}
            <div class="nav-center-mobile">
                <h1>{{ page.header.main_title }}</h1>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block body %}
    <div class="body">
        {% block content %}{% endblock %}
    </div>
{% endblock %}

{% block footer %}
    <div class="footer">
        <hr>
        <p>
            <a href="http://www.github.com/chrisloewer">Github</a> |
            <a href="http://www.chrisloewer.com">Website</a> |
            <a href="http://www.twitter.com/LoewerMeUp">Twitter</a>
        </p>
    </div>
{% endblock %}


</body>
</html>
